<div class="aboutcontainerpage">
    <div class="home">
        
        <h1>
            <span>Welcome to</span>
            <span>BizFusion</span>
        </h1>
        <p>Empowering businesses and freelacers to collaborate seamlessly and achieve mutual growth.</p>
        <div class="divcoantainer">
             <div class="divcontent">
                <section class="iconAndTitle">
                    <span class="icon"></span>
                    <span>Innovative Collaboration</span>
                </section>
                <p>Facilitating seamless connections between businesses and freelancers.</p>
             </div>

             <div class="divcontent">
                <section class="iconAndTitle">
                    <span class="icon"></span>
                    <span>Efficient Workflow</span>
                </section>
                <p>Stremlining processes to ensure productivity and success.</p>
             </div>

             <div class="divcontent">
                <section class="iconAndTitle">
                    <span class="icon"></span>
                    <span>Sustainable Growth</span>
                </section>
                <p>Fostering long-term partnership for continuous development.</p>
             </div>
        </div>
       
        

    <div>
    

    


</div>