<div class="aboutcontainerpage">
    <div class="home">
        
        <h1>
            <span>Welcome to</span>
            <span>BizFusion</span>
        </h1>
        <p>Empowering businesses and freelacers to collaborate seamlessly and achieve mutual growth.</p>
        <div class="divcoantainer">
             <div class="divcontent">
                <section class="iconAndTitle">
                    <i class="fa-solid fa-handshake-simple icon"></i>
                    <span>Innovative Collaboration</span>
                </section>
                <p>Facilitating seamless connections between businesses and freelancers.</p>
             </div>

             <div class="divcontent">
                <section class="iconAndTitle">
                    <i class="fa-solid fa-list-check icon"></i>
                    <span>Efficient Workflow</span>
                </section>
                <p>Stremlining processes to ensure productivity and success.</p>
             </div>

             <div class="divcontent">
                <section class="iconAndTitle">
                    <i class="fa-solid fa-chart-line fa-sm icon"></i>
                    <span>Sustainable Growth</span>
                </section>
                <p>Fostering long-term partnership for continuous development.</p>
             </div>
        </div>
    <div>
    <div class="aboutBizFusionContent">
        <section class="aboutFreelanceImage">
            <img src="https://cdn.pixabay.com/photo/2021/01/11/06/01/freelance-5907232_960_720.png" alt="freelancerLogo">
        </section>
        <section class="aboutFreelancerInfo">

            <section class="contentPart">
                <h3>Our Core Values.</h3>
                <h2>Empowering Collaboration</h2>
                <p>At BizFusion, we believe in the power of collaboration to drive innovation and success.</p>
                <p>Our mission is to create a platform where businesses and freelancers can thrive together.</p>
                <p>We are committed for providing the tools and resources needed for seamless and efficient collaboration.</p>
            </section>  

            <section style="display: flex;
            flex-direction: row; align-items: center; padding-top: 1em; gap: 1em; width: 100%;
            border: 1px solid black;
            margin-top: 1em;">
                <section style="border: 1px solid black; padding: 20px; border-radius: 5px; width: 30%;"></section>
                <section style="border: 1px solid black; padding: 20px; border-radius: 5px; width: 30%;"></section>
                <section style="border: 1px solid black; padding: 20px; border-radius: 5px; width: 30%;"></section>
                <section style="border: 1px solid black; padding: 20px; border-radius: 5px; width: 30%;"></section>
            </section>
            
        </section>
        

    </div>

    


</div>