<header>
  <details true>
    <summary><fa-icon class="fa-md" [icon]="home"></fa-icon></summary>
    <ul>
        <li><a href="#">Microsoft</a></li>
        <li><a href="#">Google</a></li>
        <li><a href="#">Amazon</a></li>
        <li><a href="#">Others</a></li>
    </ul>
  </details>
  <nav>
    <ul>
      <li><a href="#" class="current">Dashboard</a></li>
      <li><a href="#" class="current">Features</a></li>
      <li><a href="#" class="current">Pricing</a></li>
      <li><a href="#" class="current">About</a></li>
    </ul>
  </nav>
  <form id="search-form">
    <div id="search-icon">
      <fa-icon class="fa-xl" [icon]="magnifier" (click)="searchApplication(search)" ></fa-icon>
    </div>
    <input
      id="search-input"
      tabindex="0"
      type="text"
      spellcheck="false"
      name="search"
      placeholder="search... "
    [(ngModel)]="search"
    (keydown.enter)="onKeydownFunction($event,search)"/>
    <button id="clear-button" aria-label="Clear input button" type="reset">
      <fa-icon class="fa-xl" [icon]=cancel></fa-icon>
    </button>
  </form>
   <button type="submit" (click)="searchApplication(search)">
    <span class="signUpBtn">SignUp</span>
    </button>
    {{search | json}}
</header>