
<div class="container">
    <!-- Left Panel -->
    <div class="left-panel">
       <h2 style="font-style: italic;">E-commerce</h2> 
      <h2 class="content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis, nam!.</h2>
      <div class="testimonial">
        <p>
          "Content about the Site goes here!"
        </p>
        <div class="author">
          <strong>Elyas</strong><br/>
          <span>Software Engineering, E-commerce</span>
        </div>
      </div>
    </div>

    <!-- Right Panel (Sign Up Form) -->
    <div class="right-panel">
      <div class="signup-container">
        <h2>Create Your Account</h2>
        
        <button class="social-btn google-btn">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/1200px-Google_%22G%22_logo.svg.png" alt="Google">
            Continue with Google
        </button>
        <button class="social-btn github-btn">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmrGmeBv3SOLSKz6OlTVlVYkfH9_W3BBgdrA&s" alt="GitHub">
            Continue with GitHub
        </button>
        <button class="social-btn apple-btn">
            <img src="https://static-00.iconduck.com/assets.00/apple-logo-icon-1661x2048-8adk63j7.png" alt="Apple">
            Continue with Apple
        </button>
        <span class="or">
            <hr>
            <span>Or</span>
       </span>
        <form class="signup-form">
          <input type="text" placeholder="Full name" required />
          <input type="text" placeholder="Username" required />
          <input type="email" placeholder="Email" required />
          <input type="password" placeholder="Password" required />
          <button type="submit" class="create-account-btn">Create Account</button>
        </form>
      </div>
    </div>
  </div>

