
<body>
    <form action="">
        <section class="singUpArea">
            <section class="leftSide">
                <span>E-commerce</span>
                <p>The best place to Find answers!
                    In here you are able to find any kind of content related to AI answers
                </p>
            </section>
            <section class="rightSide">
                <h2>Sign up to E-Commerce</h2>
                        <button class="gitHubSignUp">
                            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub">
                            Continue with GitHub
                        </button>
                        <button class="googleSignUp">
                            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub">
                            Continue with Google
                        </button>
                        <button class="appleSignUp">
                            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub">
                            Continue with Apple
                        </button>
                
            </section>
        </form>
</body>