
<!-- <input class="fit-picture-text"  type="text" width="20px"/>
<img class="fit-picture" src="https://cdn2.thecatapi.com/images/bio.jpg" alt="icon" /> -->
<!-- <div class="headerLogo">
            <h1>E-COMMERCE</h1>
        </div>
        <div class="siteIcons">
            <div style="display: flex; flex-direction: row;">
                <img src="icons/Search-1--Streamline-Ultimate.png" alt="search" class="searchIcon">
                <input type="search" placeholder="Search...">
                <a href="https://github.com/RemTech/E-Commerce">
                    <img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="github" class="githubIcon">
                </a>
            </div>
        </div> -->
        <body>
          <h2 style="width:100%;margin-top: 20px; text-align: center;">
            Home Component Paragraph
            No hydration
          </h2>
          </body>