<div class="container">
   <!-- LEFT SECTION -->
   <div class="left-section">
      <div class="marketing-text">
         <h1>The easiest way to build, ship, and scale mobile apps.</h1>
      </div>
   </div>

   <!-- RIGHT SECTION -->
   <div class="right-section">
      <div class="form-container">
         <h2>Log in to E-Commerce</h2>

         <!-- Social Login Buttons -->
         <button class="social-btn google-btn"
            ><img src="img/Google.webp" alt="Google icon">Continue with Google</button
         >
         <button class="social-btn github-btn"
            ><img src="img/github.svg" alt="GitHub icon">Continue with GitHub</button
         >
         <button class="social-btn apple-btn"
            ><img src="img/Apple.png" alt="Apple icon">Continue with Apple</button
         >

         <span class="or">
               <div></div>
               <span>OR</span>
         </span>

         <!-- Email Input -->
         <div class="input-group">
            <input
               type="text"
               id="email"
               placeholder="Enter your Email address" />
         </div>

         <!-- Continue Button -->
         <button class="continue-btn" disabled>Continue</button>

         <!-- Extra Links -->
         <div class="extra-links">
            <a href="#">Forgot password?</a>
            <p>
               Don’t have an account?
               <a href="#">Sign up</a>
            </p>
         </div>
      </div>
   </div>
</div>